@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

body {
  background: var(--very-dark-blue);
  color: var(--white);
  font-family: 'Overpass', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box {
  /* border: white solid 3px; */
  height: 420px;
  width: 420px;
  border-radius: 30px;
  background: linear-gradient(var(--dark-blue), var(--very-dark-blue));

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px; */
}

#rating-screen,
#thank-you-screen {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#thank-you-screen {
  display: none;
}

.star {
  width: 50px;
  padding: 15px;
  background: var(--dark-blue);
  border-radius: 50%;
}

p {
  color: var(--light-grey);
  font-size: 15px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 50px;
  height: 50px;
  font-weight: 700;
  background: var(--dark-blue);
  border-radius: 50%;
  color: var(--light-grey);
}

.buttons button:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--orange);
}

.buttons .active {
  color: var(--white);
  background: var(--light-grey);
}

.btn {
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  background: var(--orange);
  color: var(--white);
  font-size: 15px;
  letter-spacing: 3px;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  color: var(--orange);
  background: var(--white);
  transition: 0.3s;
}

/* thank you screen: */
#thank-you-screen {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.thank-you-img {
  width: 200px;
}

.bubble {
  color: var(--orange);
  background: var(--dark-blue);
  padding: 5px 20px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  main {
    width: 90%;
  }

  .box {
    /* height: 420px;
    width: 420px; */
    width: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  .buttons button {
    width: 40px;
    height: 40px;
  }

  .thank-you-img {
    width: 150px;
  }
}
